*,
*::before,
*::after {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

body {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  font-family: verdana;
  background-color: #cccccc;
  background: url(./imagenes/rick-sanchez-2.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
#principal {
  width: 1020px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
}

a {
  font-size: 40px;
  color: #f8f4f4;
  justify-content: flex-start;
  text-decoration: none;
}

.contenedor1 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(15, 177, 101, 0.02);
  padding: 30px;
}
h1 {
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 80px;
  color: #8efa01;
  width: 30px;
}
h4 {
  display: flex;
  font-family: atma;
  font-size: 30px;
  color: rgb(230, 238, 233);
}
ul {
  font-family: Copperplate, Papyrus, fantasy;
  width: 30px;
  display: flex;
}

.btt {
  align-items: end;
  display: flex;
  gap: 300px;
  margin-top: 200px;
  button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border: 8px solid #8efa01;
    padding: 20px 100px;
    border-radius: 100px;
    background-color: rgb(7, 7, 7);
    color: #f5f6f7;
  }
  button:hover {
    background-color: rgb(69, 192, 65);
    color: rgb(7, 7, 7);
  }
}
